[submodule "musl"]
	path = musl
	url = https://github.com/elide-tools/musl.git
	ignore = dirty
	shallow = true
[submodule "mimalloc"]
	path = mimalloc
	url = https://github.com/microsoft/mimalloc.git
	ignore = dirty
	shallow = true
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
	ignore = dirty
	shallow = true
[submodule "zlib"]
	path = zlib
	url = https://github.com/cloudflare/zlib.git
	ignore = dirty
	shallow = true
[submodule "sqlite"]
	path = sqlite
	url = https://github.com/elide-tools/sqlite.git
	ignore = dirty
	shallow = true
[submodule "capnp"]
	path = capnp
	url = https://github.com/capnproto/capnproto.git
	ignore = dirty
	shallow = true
[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm/llvm-project.git
	shallow = true
	ignore = dirty
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd.git
[submodule "zlib-ng"]
	path = zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
	ignore = dirty
	shallow = true
[submodule "brotli"]
	path = brotli
	url = https://github.com/google/brotli.git
	ignore = dirty
	shallow = true
[submodule "snappy"]
	path = snappy
	url = https://github.com/google/snappy.git
	ignore = dirty
	shallow = true
[submodule "sqlcipher"]
	path = sqlcipher
	url = https://github.com/sqlcipher/sqlcipher.git
	ignore = dirty
	shallow = true
[submodule "hiredis"]
	path = hiredis
	url = https://github.com/redis/hiredis.git
	ignore = dirty
	shallow = true
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/google/leveldb.git
	ignore = dirty
	shallow = true
[submodule "crc32c"]
	path = crc32c
	url = https://github.com/google/crc32c.git
	ignore = dirty
	shallow = true
	fetchRecurseSubmodules = true
[submodule "lz4"]
	path = lz4
	url = https://github.com/lz4/lz4.git
	ignore = dirty
	shallow = true
[submodule "aws_lc"]
	path = aws-lc
	url = https://github.com/aws/aws-lc.git
	ignore = dirty
	shallow = true
[submodule "propeller"]
	path = llvm-propeller
	url = https://github.com/google/llvm-propeller.git
	ignore = dirty
	shallow = true
[submodule "cflags"]
	path = cflags
	url = https://github.com/elide-dev/cflags.git
[submodule "glibc"]
	path = glibc
	url = https://sourceware.org/git/glibc.git
	branch = release/2.34/master
	shallow = true
	ignore = dirty
